Conversational-smart-guide-for-visually-impaired-people/config/yolo-coco/yolov3.weights filter=lfs diff=lfs merge=lfs -text
C:/Users/MAHNOOR/Desktop/FYP/Conversational-smart-guide-for-visually-impaired-people/config/yolo-coco/yolov3.weights filter=lfs diff=lfs merge=lfs -text
